body{
	text-align: center;
	margin: 10;
	font-family: Verdana, Arial, sans-serif;
	font-size: 16px;
	background-color:rgb(215, 236, 250);
}

#editor{
	float: left;
	width: 40%;

	background-color: rgb(241, 254, 255);
	border: 1px solid rgb(56, 56, 56);
	min-height: 280px;
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
	text-align: left;
	padding: 10px;
	outline: none;
	box-shadow: 0px 2px 12px 0px rgba(34, 60, 80, 0.63);
}
#notes{
	float: left;
	width: 20%;

	background-color: rgb(63, 63, 63);
	border: 1px solid rgb(56, 56, 56);
	color: aliceblue;
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
	min-height: 280px;
	padding: 10px;
	margin-left: 19%;
	box-shadow: 0px 2px 12px 0px rgba(34, 60, 80, 0.63);
}

p{
	cursor: pointer;
}